<a href="https://colab.research.google.com/github/Akmazad/Data-Science-Fundamentals-in-R/blob/main/Module_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R programming essentials: DataFrame, Packages, Functions, Loops, logics, and more#
**Contents:**


1.   Tabular data: `data.frame` VS `tibble`
2.   Pipe operator, `%>%`



---


### Setting the environment ###


---

In [ ]:
# Install all the required libraries
install.packages(c(
  "writexl",
  "XML",
  "rjson",
  "DBI",
  "RSQLite",
  "factoextra",
  "cluster",
  "ggridges"
  "GGally")
)

In [ ]:
install.packages("ggridges")

In [ ]:
  library("tidyverse")
  library("readxl")
  library("writexl")
  library("xml2")
  library("XML")
  library("rjson")
  library("DBI")
  library("RSQLite")
  library("ggplot2")
  library("factoextra")
  library("cluster")
  library("GGally")



---

### 1. Data formats ###
- `data.frame` VS `tibble`
 * `data.frame` is a default tabular form
 * `tibble` (from `tidyverse` R package) is similar to `data.frame` but has additional handy features.

 - Structured data can be imported using `read.csv` (for *.csv files),  `read_excel` (for *.xlsx files), or `fread` functions, typically invoked through R packages (`base`, `readxl` and `data.table` packages, respectively).

---

In [ ]:
getwd()

[1] "/content"

In [ ]:
# Creating a data.frame
df = data.frame(
  "group" = c("A", "B", "B", "C"),
  "value" = c(10.2, 11.3, 10.3, 9.7)
)
df

In [ ]:
# Creating a tibble
library(tidyverse)
tbl = tibble(
  "group name" = c("A","B","B","C"),
  "value" = c(10.2,11.3,10.3,9.7)
)
tbl
# coverting a data.frame to tibble
df = as_tibble(df)
df